
<label>Server name</label>
<!-- <input type="text" class="form-control" (input)="onUpdateServerName($event)"> -->
<!-- $event é uma palavra reservada -->

<input type="text" class="form-control" [(ngModel)]="serverName">
<!-- [()] indica two-way-databinding (usando event e property binding) -->
<!-- Importar FormsModule (@angular/forms) em imports[] no AppModule para ngModel funcionar -->

<!-- <p> {{ serverName }} </p> -->

<button class="btn btn-primary" [disabled]="!allowNewServer" (click)="onCreateServer()">Add server</button>
<!-- [] indica que estamos usando property-binding -->
<!-- () indica que estamos usando event-binding -->
    <!-- Pode tbm colocar diretamente o código dentro dos parênteses -->
<!-- Após 2 segundos, o botão ativa -->

<!-- String Interpolation -->
<!-- <p>{{ allowNewServer }}</p> -->

<!-- Property Binding -->
<!-- <p [innerText]="allowNewServer"></p> -->


<!-- <p>{{ serverCreationStatus }}</p> -->
<p *ngIf="serverCreated">Server was created, server name is {{ serverName }}</p>
<!-- <p *ngIf="serverCreated; else noServer">Server was created, server name is {{ serverName }}</p> -->
<!-- * pq ngIf muda a estrutura do DOM (structural directive)/vai adicionar um elemento no DOM. Precisa colocar ela. 
    Vai colocar o paragrafo acima, se true. Senão, vai mostrar o ng-template abaixo (com marcador noServer) -->
<!-- <ng-template #noServer>
    <p>
        No server was created
    </p>
</ng-template> -->
    
<app-server *ngFor="let server of servers"></app-server>
<!-- Tipo forEach. 'servers' é o array no .ts. Cada elemento desse array será chamado de 'server'. -->

<!-- 
    Property binding simply means you're passing data from the component class and setting the value of a given element in the view.
    Property binding is one way, in that the data is transferred FROM the component TO the class. -->